# Virtual Environment
my_venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
